In [1]:
conda install -c conda-forge pycaret
#

Note: you may need to restart the kernel to use updated packages.

usage: conda-script.py [-h] [-V] command ...
conda-script.py: error: unrecognized arguments: pycaret

In [7]:
import numpy as np
import pandas as pd
data  = pd.read_csv('E:\dataset_folder\AirPassengers.csv')

In [8]:
data.head()

     Month  #Passengers
0  1949-01          112
1  1949-02          118
2  1949-03          132
3  1949-04          129
4  1949-05          121